.block-front {
    //padding-top: 4rem;
    position: relative;
    &_video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &_links {
        padding: 15rem 1.4rem;
        .table {
            display: flex;
            justify-content: flex-start;
            &:last-child {
                justify-content: flex-end;
            }
        }
        &-item {
            display: flex;
            align-items: flex-start;
            border-top: 1px solid $white;
            font-family: 'Cormorant Garamond';
            color: $white;
            .preffix {
                font-size: 3.13rem;
                display: inline-block;
                padding-top: 1.5rem;
            }
            .text {
                font-size: 10rem;
                display: inline-block;
                position: relative;
                padding-right: 4rem;
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 30%;
                    transform: translateY(-50%);
                    width: 3.56rem;
                    height: 3.56rem;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    border-radius: 100%;
                    background-image: url(../img/icons/arrow.svg);
                    box-shadow: 2rem 1.2rem 3.5rem rgba($black, .3);
                }
            }
        }
    }
}

// notebook
@media screen and (min-width: 1280px) and (max-width: 1440px) {}
// small notebook && tablet landscape
@media screen and (min-width: 1024px) and (max-width: 1279px) {}
// tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {}
// mobile landscape
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {}
// mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
    .block-front {
        &_links {
            padding: 12.5rem 1.4rem;
            &-item {
                margin-bottom: 1.5rem;
                .preffix {
                    font-size: 4vw;
                }
                .text {
                    font-size: 16vw;
                    padding-right: 2rem;
                    &::after {
                        width: 5vw;
                        height: 5vw;
                    }
                }
            }
        }
    }
}