.site-footer {
    padding: 1rem;
    padding-bottom: 1.5rem;
    background-color: $blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    &_menu {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-gap: .3rem 4rem;
        font-family: 'Cormorant Garamond';
        font-size: 1.125rem;
        &-item {
            &:first-child {
                grid-row: 1/3;
            }
        }
    }
}
.footer-block {
    position: relative;
    padding-bottom: 15rem;
    &_image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        img {
            object-position: top;
            mix-blend-mode: darken;
            will-change: transform;
        }
    }
    
    &_text {
        font-size: 3.75rem;
        text-align: center;
        font-family: 'Cormorant Garamond';
        line-height: 1.33em;
        color: $blue;
        position: relative;
        z-index: 1;
        strong {
            color: #767676;
            font-stretch: normal;
            font-weight: normal;
        }
    }
}

// notebook
@media screen and (min-width: 1280px) and (max-width: 1440px) {}
// small notebook && tablet landscape
@media screen and (min-width: 1024px) and (max-width: 1279px) {}
// tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {}
// mobile landscape
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {}
// mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-block {
        padding-bottom: 5rem;
        &_text {
            font-size: 1.2rem;
        }
    }
    .site-footer {
        flex-direction: column;
        scroll-padding-bottom: 3rem;
        &_copyrights {
            text-align: center;
        }
        &_menu {
            order: -1;
            grid-template-columns: repeat(2, auto);
            padding-bottom: 3rem;
            &-item {
                &:first-child {
                    grid-row: 1/2;
                    grid-column: 1/3;
                }
            }
        }
    }
}